.b-ground-color{
    background-color: #030919;

}
.top-banner{
    font-style: italic;
    height: 550px;
    background-image: url(images/football-1.png);
    background-position: left bottom ;
    background-repeat: no-repeat;

}
.custom-color{
    color:springgreen
}
.font-custom-size{
    font-size: 70px;
}
.v-size{
    font-size: 110px ;
}
